<h1 class="title-text">Welcome to {{user.username}}'s Greenhouse</h1>

{{! this is the main div that contains all plant cards, gap of 5 to create margins between the cards }}
<div class="card-parent d-grid gap-5">
  {{#each user.Plants}}
    {{! this is the basic card template to render each plant post }}
    <div class="mx-auto col-sm-12 col-md-10 col-lg-4">
      <div class="card plant-div">
        <div class="card-body post-card search-profile">
          <h5 class="title-size">{{title}}</h5>
          <img src='{{file_name}}' class="card-img-top" alt="image of the searched user's plant" />
          <p class="card-text caption-size">{{caption}}</p><hr>
          <p class="timestamp">Germinated on: {{createdAt}}</p>
        </div>
        <div class="card-body uproots">
          <p class="uproot-style"><button class="upVote" data-plantid="{{id}}">🌱</button> {{upVote_counter}} uproots</p>
        </div>
        {{#each Comments}}
          <div class="card-body all-comments comment-style d-flex mt-1 mb-1">
            <p class="card-text"><a href="/profile/{{User.id}}"><strong>{{User.username}}</strong></a>: {{content}}</p>
            <a class="trash-comment" href="{{Plant.id}}" data-commentid="{{id}}"><img
                src="https://img.icons8.com/material-outlined/24/000000/trash--v1.png"
              /></a>
          </div>
        {{/each}}
        <form class="input-group comment-div mb-3 pt-2 comment-form">
          <input type="hidden" name="plant-id" value="{{id}}" />
          <input
            placeholder="enter a comment..."
            name="comment-body"
            class="comment-input"
            type="text"
          />
          <button
            class="comment-btn"
            type="submit"
            id="button-addon2"
          >submit</button>
        </form>

      </div>
    </div>
  {{/each}}
</div>
<script src="/js/comment.js"></script>
<script src="/js/upvote.js"></script>
<script src="/js/deleter.js"></script>